*{
    margin: 0;
    padding: 0;
}
body, html{
    width: 100%;
    height: 100%;
}
body{

    color:#eee;
    display: flex;
    flex-direction: column;
}
h1{
    display: inline-block;
}
header{
    display: flex;
    justify-content:  center;
    width: 100%;
    background-color: #202427;
    
}
header div{
    display: flex;
    justify-content: space-between;
    width: 60%;
    background-color: #202427;
    padding: 5px 0;
}
header input{
    border: 0;
    border-radius: 100px;
    height: 23px;
    background-color: #4D5052;
    color: #202427;
    width: 40%;
}
header input::placeholder{
    color: #202427;
}
#loginLink{
    color: #EF7428;
}
#newText{
    color: #EF7428;
}
#groundText{
    color: #eee;
}
nav{
    display: flex;
    justify-content:  center;
    width: 100%;
    background-color: #070506;
    
}
nav div{
    display:flex;
    width:60%;
    
}
nav div a{
    
    color:#eee;
    flex-grow: 1;
    padding: 5px 0;
    text-decoration: none;
    text-align: center;
}

nav div a:nth-of-type(1){
    border-bottom: 2px solid #F62F36;
}
nav div a:nth-of-type(2){
    border-bottom: 2px solid #4D91BE;
}
nav div a:nth-of-type(3){
    border-bottom: 2px solid #47B32A;
}
nav div a:nth-of-type(4){
    border-bottom: 2px solid #F136A1;
}
nav div a:nth-of-type(5){
    border-bottom: 2px solid #C64BE2;
}
nav div a:nth-of-type(6){
    border-bottom: 2px solid #F62F36;
}
nav div a:nth-of-type(7){
    border-bottom: 2px solid #F1B859;
}



section{
    margin-top:20px;
    display: flex;
    justify-content: center;

}
section p{
    text-align: center;
    border-radius: 5px;
    padding: 20px 0;
    background-color: #0F0B0C;
    width: 60%;
}
#supporterLink{
    text-decoration: none;
    color: #EF7428;
}